<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Lunna</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <div class="page-wrapper">
      <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
          <%= render "top-menu.html", assigns %>
        </div>
      </div>

      <div class="clearfix"> </div>

      <div class="page-container">
        <%= render "sidebar.html", assigns %>
        <div class="page-content-wrapper">
          <div class="page-content">
            <%
              info = get_flash(@conn, :info)
              error = get_flash(@conn, :error)
            %>
            <%= if info do %>
              <div class="alert alert-info" role="alert"><%= info %></div>
              <br>
            <% end %>
            <%= if error do %>
              <div class="alert alert-danger" role="alert"><%= error %></div>
              <br>
            <% end %>
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
      <%= render "footer.html", assigns %>
    </div>
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <script src="/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
  </body>
</html>
