<div class="page-footer">
  <div class="page-footer-inner"> 
    <%= DateTime.utc_now.year %> © Lunna. <a target="_blank" href="http://www.developerS2.com">DeveloperS2</a>
  </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
