<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />    
    <meta name="author" content="">
    <title>Session</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
          <a href="index.html">
            <img src="/assets/images/logo.png" alt="" />
          </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
          <!-- BEGIN LOGIN FORM -->
          <%
            info = get_flash(@conn, :info)
            error = get_flash(@conn, :error)
          %>
          <%= if info do %>
            <div class="alert alert-info" role="alert"><%= info %></div>
          <% end %>
          <%= if error do %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
          <% end %>
          <%= render @view_module, @view_template, assigns %>
          <!-- END LOGIN FORM -->
        </div>
        <div class="copyright"> <%= DateTime.utc_now.year %> © Lunna. <a target="_blank" href="http://www.developerS2.com">DeveloperS2</a> </div>
</body>
  
</html>
