<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
          <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <li class="sidebar-toggler-wrapper hide">
              <div class="sidebar-toggler">
                  <span></span>
              </div>
          </li>
          <!-- END SIDEBAR TOGGLER BUTTON -->
          <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

          <% 
            controller_name =  List.last(String.split((inspect @conn.private.phoenix_controller), "."))

            # item without submenu
            dashboard_active = if (controller_name == "PageController"), do: "active", else: ""
            dashboard_selected = if (controller_name == "PageController"), do: "<span class='selected'></span>", else: ""

            tip_card_active = if (controller_name == "TipCardController"), do: "active", else: ""
            tip_card_selected = if (controller_name == "TipCardController"), do: "<span class='selected'></span>", else: ""
            
          %>

          <li class="nav-item start <%= dashboard_active %>">
            <%= link html_escape({:safe, "<i class='icon-home'></i> Dashboard #{dashboard_selected}"}), to: page_path(@conn, :index), class: "nav-link nav-toggle" %>            
          </li>
          <li class="nav-item start <%= tip_card_active %>">
            <%= link html_escape({:safe, "<i class='icon-bulb'></i> #{gettext("locale_tip_card")} #{tip_card_selected}"}), to: tip_card_path(@conn, :index), class: "nav-link nav-toggle" %>
          </li>
         <!-- 
          <li class="nav-item">
              <a href="javascript:;" class="nav-link nav-toggle">
                  <i class="icon-puzzle"></i>
                  <span class="title">Example Child</span>
                  <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                  <li class="nav-item">
                      <a href="components_date_time_pickers.html" class="nav-link ">
                          <span class="title">Child 1</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="components_select2.html" class="nav-link ">
                          <span class="title">Child 2</span>
                      </a>
                  </li>
                 </li>
                  <li class="nav-item">
                      <a href="components_noui_sliders.html" class="nav-link ">
                          <span class="title">Child 3</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="components_knob_dials.html" class="nav-link ">
                          <span class="title">Child 4</span>
                      </a>
                  </li>
              </ul>
              </li>
         -->
      </ul>
      <!-- END SIDEBAR MENU -->
      <!-- END SIDEBAR MENU -->
  </div>
</div>
