<div class="page-logo">
    <a href="index.html">
        <img src="/assets/images/logo.png" alt="logo" class="logo-default" /> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN RESPONSIVE MENU TOGGLER -->
<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    <span></span>
</a>
<!-- END RESPONSIVE MENU TOGGLER -->
<!-- BEGIN TOP NAVIGATION MENU -->
<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" class="img-circle" src="/assets/images/admin_user.jpg" />
                <span class="username username-hide-on-mobile"> User </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <%= link to: registration_path(@conn, :new), method: :get do %> 
                      <i class="icon-user"></i>Create account
                    <% end %> 
                </li>
                <li class="divider"> </li>
                <li>
                    <%= link to: session_path(@conn, :delete), method: :get do %> 
                      <i class="icon-key"></i>Log Out
                    <% end %> 
                </li>
            </ul>
        </li>
    </ul>
</div>
