<%= form_for @conn, session_path(@conn, :create), [as: :session, class: "login-form"], fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
    </div>
  <% end %>

  <h3 class="form-title font-green">Login</h3>
  <div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    <span> Enter any username and password. </span>
  </div>
  <div class="form-group">
    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
    <label class="control-label visible-ie8 visible-ie9">Username</label>
    <%= text_input f, :email, [class: "form-control form-control-solid placeholder-no-fix", placeholder: "Username"] %>
  </div>
  <div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Password</label>
    <%= password_input f, :password, [class: "form-control form-control-solid placeholder-no-fix", autocomplete: "off", placeholder: "Password"] %>
  </div>
  <div class="form-actions">
    <%= submit "Login", class: "btn green uppercase" %>
  </div>

  <div class="create-account">
    <p>
    <a href="javascript:;" id="register-btn" class="uppercase">Deseja ser um parceiro?</a>
    </p>
  </div>
<% end %>
