/* This file is for your main application css. */
body {
    background-color: #364150;
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 992px) {
    .page-sidebar {
        width: 235px;
    }
}
