<h2 class="page-title"><%= gettext("locale_edit") <> " " <> gettext("locale_tip_card")%></h2>

<%= render "form.html", changeset: @changeset, media_types: @media_types,
                        language_options: @language_options,
                        collection_methods: @collection_methods,
                        period_cycles: @period_cycles,
                        action: tip_card_path(@conn, :update, @tip_card) %>

<%= link gettext("locale_back"), to: tip_card_path(@conn, :index), class: "btn default" %>
