<div class="row">
  <div class="portlet light bordered">
    <%= form_for @changeset, @action, fn f -> %>
    <div class="form-body">

      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group form-md-line-input">
            <%= text_input f, :title, class: "form-control" %>
            <%= label f, gettext("locale_tip_card_title") %>
            <%= error_tag f, :title %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group form-md-line-input <%= error_class f, :locale %>">
            <%= select f, :locale, @language_options, prompt: gettext("locale_select_option"), class: "form-control" %>
            <%= error_tag f, :locale %>
            <%= label f, gettext("locale_tip_card_locale") %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-md-line-input">
            <%= textarea f, :body_text, class: "form-control" %>
            <%= label f, gettext("locale_tip_card_body_text") %>
            <%= error_tag f, :body_text %>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group form-md-line-input">
            <%= select f, :media_type_id, @media_types, prompt: gettext("locale_select_option"), class: "form-control" %>
            <%= label f, gettext("locale_tip_card_media_type") %>
            <%= error_tag f, :media_type_id %>
          </div>
        </div>

        <div class="col-md-8">
          <div class="form-group form-md-line-input">
            <%= text_input f, :media_link, class: "form-control" %>
            <%= label f, gettext("locale_tip_card_media_link") %>
            <%= error_tag f, :media_link %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group form-md-line-input">
            <%= text_input f, :optional_link_1, class: "form-control" %>
            <%= label f, gettext("locale_tip_card_optional_link_1") %>
            <%= error_tag f, :optional_link_1 %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-md-line-input">
            <%= text_input f, :optional_link_2, class: "form-control" %>
            <%= label f, gettext("locale_tip_card_optional_link_2") %>
            <%= error_tag f, :optional_link_2 %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group form-md-line-input <%= error_class f, :collection_method_id %>">
            <%= select f, :collection_method_id, @collection_methods, prompt: gettext("locale_select_option"), class: "form-control" %>
            <%= label f, gettext("locale_collection_method") %>
            <%= error_tag f, :collection_method_id %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-md-line-input <%= error_class f, :period_cycle_id %>">
            <%= select f, :period_cycle_id, @period_cycles, prompt: gettext("locale_select_option"), class: "form-control" %>
            <%= label f, gettext("locale_period_cycle") %>
            <%= error_tag f, :period_cycle_id %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= submit gettext("locale_submit"), class: "btn blue" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
