<h2 class="page-title"><%= gettext("locale_tip_cards")%></h2>

<div class="col-md-12">
    <!-- BEGIN BORDERED TABLE PORTLET-->
  <div class="table-scrollable table-scrollable-borderless">
    <table class="table table-hover table-light">
      <thead>
        <tr class="">
          <th><%= gettext("locale_tip_card_body_text") %></th>
          <th><%= gettext("locale_tip_card_media_type") %></th>
          <th><%= gettext("locale_tip_card_locale") %></th>
          <th><%= gettext("locale_collection_method") %></th>
          <th><%= gettext("locale_period_cycle") %></th>
          <th><%= gettext("locale_actions") %></th>
        </tr>
      </thead>
      <tbody>
        <%= for tip_card <- @tip_cards do %>
          <tr>
            <%= if tip_card.body_text == "" do %>
              <td><%= tip_card.title %></td>
            <%= else %>
            <td>
              <%= if String.length(tip_card.body_text) > 41 do %>
                <%= String.slice(tip_card.body_text, 0..40) <> "..." %>
              <%= else %>
                <%= String.slice(tip_card.body_text, 0..40) %>
              <%= end %>
            </td>
            <%= end %>
            <td><%= Gettext.gettext(ArayashikiWs.Gettext, Enum.join(["locale_", tip_card.media_type.name], "")) %></td>
            <td><%= Gettext.gettext(ArayashikiWs.Gettext, Enum.join(["locale_", tip_card.locale], "")) %></td>
            <td><%= Gettext.gettext(ArayashikiWs.Gettext, Enum.join(["locale_", tip_card.collection_method.name], "")) %></td>
            <td><%= Gettext.gettext(ArayashikiWs.Gettext, Enum.join(["locale_", tip_card.period_cycle.name], "")) %></td>


            <td>
              <div class="btn-group">
                <%= link gettext("locale_edit"), to: tip_card_path(@conn, :edit, tip_card), class: "btn blue btn-sm btn-outline sbold uppercase" %>
                <div class="btn-inline">
                  <%= link gettext("locale_delete"), to: tip_card_path(@conn, :delete, tip_card), method: :delete, data: [confirm: "Are you sure?"], class: "btn red btn-sm btn-outline sbold uppercase" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <!-- END BORDERED TABLE PORTLET-->
</div>

<%= link gettext("locale_create"), to: tip_card_path(@conn, :new), class: "btn btn-primary blue" %>
