<h2>Show tip card</h2>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @tip_card.text %>
  </li>

  <li>
    <strong>Media link:</strong>
    <%= @tip_card.media_link %>
  </li>

  <li>
    <strong>Media type:</strong>
    <%= @tip_card.media_type_id %>
  </li>

  <li>
    <strong>Optional link 1:</strong>
    <%= @tip_card.optional_link_1 %>
  </li>

  <li>
    <strong>Optional link 2:</strong>
    <%= @tip_card.optional_link_2 %>
  </li>

  <li>
    <strong>Locale:</strong>
    <%= @tip_card.locale %>
  </li>

  <li>
    <strong>Collection method:</strong>
    <%= @tip_card.collection_method %>
  </li>

  <li>
    <strong>Period cycle:</strong>
    <%= @tip_card.period_cycle %>
  </li>

</ul>

<%= link "Edit", to: tip_card_path(@conn, :edit, @tip_card) %>
<%= link "Back", to: tip_card_path(@conn, :index) %>
