<h1 class="page-title"> Dashboard
</h1>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 green" href="#">
          <div class="visual">
              <i class="fa fa-users"></i>
          </div>
          <div class="details">
              <div class="number">
                  <span data-counter="counterup" data-value="549"><%= ArayashikiWs.Repo.aggregate(ArayashikiWs.MobileUser, :count, :id) %></span>
              </div>
              <div class="desc"> Mobiles Users </div>
          </div>
      </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
          <div class="visual">
              <i class="fa fa-comments"></i>
          </div>
          <div class="details">
              <div class="number">
                <span data-counter="counterup" data-value="1349"><%= ArayashikiWs.Repo.aggregate(ArayashikiWs.TipCard, :count, :id) %></span>
              </div>
              <div class="desc">Tip Cards</div>
          </div>
      </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 red" href="#">
          <div class="visual">
              <i class="fa fa-question"></i>
          </div>
          <div class="details">
              <div class="number">
                  <span data-counter="counterup" data-value="12,5"><%= ArayashikiWs.Repo.aggregate(ArayashikiWs.InteractiveCard, :count, :id) %></span></div>
              <div class="desc">Interactive Cards</div>
          </div>
      </a>
  </div>
  <!--div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
          <div class="visual">
              <i class="fa fa-globe"></i>
          </div>
          <div class="details">
              <div class="number"> +
                  <span data-counter="counterup" data-value="89"></span>% </div>
              <div class="desc"> Brand Popularity </div>
          </div>
      </a>
  </div-->
</div>
<div class="clearfix"></div>
</div>
